{% extends 'dashboard/bases/base.html' %}
{% load static %}
{% load mathfilters %}
{% load dashboard_extras %}
{% load widget_tweaks %}
{% load i18n %}

{% block usuario_topnav %}
    {{ usuario }}
{% endblock %}

{% block saudacao %}
    {{ saudacao }}
{% endblock %}

{% block usuario_navbar %}
    <span style="font-weight: bold;">{{ primeiro }}!</span><br>

    Você está em <span style="font-weight: bold;
            font-size: 1em; text-decoration: underline">{{ hosp_sigla }}!</span>
{% endblock %}

{% block menu %}
    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Início </a>
    <li><a href="{% url 'beds' %}"><i class="fa fa-bed"></i> Leitos </a>
{% endblock %}


{% block content %}
    {% for setor, leitos in leitos.items %}
        <div class="row" style="margin-left: 5px;">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="x_panel">
      <div class="x_title">
        <h2>{{ setor }}</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Leito</th>
              <th>Situação</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            {% for key_leitos, value_leitos in leitos.items %}
                <form method="POST" action="{% url 'beds' %}">
                    {% csrf_token %}
                    <tr>
                      <th scope="row">{{ key_leitos }}</th>
                      <td>
                          {% for key_sit, value_sit in situacao.items  %}
                                {% if value_leitos.status == 'O' %}
                                    {% if value_sit == value_leitos.situacao %}
                                      <label style="margin-right: 20px;">
                                        <input name="{{ setor }}_situacao_{{ key_leitos }}" type="radio"
                                               value="{{ value_sit }}" class="iradio_flat-green"
                                               id="{{ setor }}_situacao_{{ key_sit }}" checked>{{ key_sit }}
                                      </label>
                                        <script type="text/javascript">
                                            document.getElementById("{{ setor }}\_situacao\_{{ key_leitos }}")
                                                .disabled = true;
                                        </script>
                                    {% else %}
                                      <label style="margin-right: 20px;">
                                        <input name="{{ setor }}_situacao_{{ key_leitos }}" type="radio"
                                               value="{{ value_sit }}" class="iradio_flat-green"
                                               id="{{ setor }}_situacao_{{ key_leitos }}">{{ key_sit }}
                                      </label>
                                        <script type="text/javascript">
                                            document.getElementById("{{ setor }}\_situacao\_{{ key_leitos }}")
                                                .disabled = true;
                                        </script>
                                    {% endif %}
                                {% else %}
                                    {% if value_sit == value_leitos.situacao %}
                                      <label style="margin-right: 20px;">
                                        <input name="{{ setor }}_situacao_{{ key_leitos }}" type="radio"
                                               value="{{ value_sit }}" class="iradio_flat-green"
                                               id="{{ setor }}_situacao_{{ key_sit }}" checked>{{ key_sit }}
                                      </label>
                                    {% else %}
                                      <label style="margin-right: 20px;">
                                        <input name="{{ setor }}_situacao_{{ key_leitos }}" type="radio"
                                               value="{{ value_sit }}" class="iradio_flat-green"
                                               id="{{ setor }}_situacao_{{ key_leitos }}">{{ key_sit }}
                                      </label>
                                    {% endif %}
                                {% endif %}
                          {% endfor %}
                      </td>
                      <td>
                        <select class="form-control" id="{{ setor }}_status_{{ key_leitos }}"
                            name="{{ setor }}_situacao_{{ key_leitos }}">
                            {% for key_stat, value_stat in status.items %}
                                {% if value_stat == 'L' %}
                                    {% trans '#1abb9c' as cor %}
                                {% elif value_stat == 'B' %}
                                    {% trans '#ffc107' as cor %}
                                {% else %}
                                    {% trans '#dc3545' as cor %}
                                {% endif %}

                                {% if value_stat == value_leitos.status %}
                                    <option value="{{ value_stat }}" style="color: {{ cor }};" selected>
                                        {{ key_stat }}
                                    </option>
                                {% else %}
                                    <option value="{{ value_stat }}" style="color: {{ cor }};">
                                        {{ key_stat }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      </td>
                      <td><button type="submit" style="margin:0 auto;">Alterar</button> </td>
                    </tr>
                </form>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
        </div>

        <div class="clearfix"></div>
    </div>
    {% endfor %}
{% endblock %}