{% extends 'dashboard/bases/base.html' %}
{% load static %}
{% load mathfilters %}
{% load dashboard_extras %}

{% block usuario_topnav %}
    {{ usuario }}
{% endblock %}

{% block saudacao %}
    {{ saudacao }}
{% endblock %}

{% block usuario_navbar %}
    <span style="font-weight: bold;">{{ primeiro }}!</span>

    Você está em <span style="font-weight: bold;
            font-size: 1em; text-decoration: underline">{{ hosp_user }}!</span>
{% endblock %}

{% block menu %}
    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Início </a>
    <li><a href="{% url 'beds' %}"><i class="fa fa-bed"></i> Leitos </a>
{% endblock %}


{% block content %}
    {% for setor, leitos in leitos.items %}
        <div class="row" style="margin-left: 5px;">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="x_panel">
      <div class="x_title">
        <h2>{{ setor }}</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Leito</th>
              <th>Situação</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for key, value in leitos.items %}
            <tr>
              <th scope="row">{{ key }}</th>
              <td>{{ value.situacao }}</td>
              <td>{{ value.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
        </div>

        <div class="clearfix"></div>
    </div>
    {% endfor %}
{% endblock %}