.logo_login{
    width: 23px;
    height: 23px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.logo_base{
    width: 34px;
    height: 34px;
    margin-right: 3px;
}

.sigla{
    font-weight: bold;
    font-size: 2em;
}