{% extends 'dashboard/bases/base.html' %}
{% load static %}
{% load mathfilters %}
{% load dashboard_extras %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
    <div id="histrow" class="row">
        <div class="col-md-6 col-sm-6">
            {% for pac_setores, pac_leitos in pacientes.items %}
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ pac_setores }} </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for pac_key, pac_value in pac_leitos.items %}
                                <div class="panel">
                                    {% if pac_value == 'VAGO' or pac_value == 'BLOQUEADO' %}
                                        <h2>{{ pac_value }}</h2>
                                    {% else %}
                                        {% for p in pac_value %}
                                            <a href="#" id="pac_{{ p.id }}" onclick="getOcurrencies('{% url 'history_get_ocurrencies' %}', '{{ p.id }}')">
                                                <h2>{{ p.nome }}</h2>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="pac_hist_ocor" class="col-md-6 col-sm-6">
            <h2 id="hist_nome_pac"></h2>
            <div class="x_panel">
                <div class="x_title">
                    <h2></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <ul class="list-unstyled timeline widget">
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    <div class="block_content">
                                        <h2 class="title">
                                <a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>
                                </h2>
                                        <div class="byline">
                                            <span>13 hours ago</span> by <a>Jane Smith</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'assets/docs/js/historico.js' %}" type="text/javascript"></script>
{% endblock %}