{% extends 'adminlte/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 center-block">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastro de Médicos</h3>
                </div>
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="id_first_name">Primeiro nome</label>
                            <input type="text" class="form-control" id="id_first_name"
                                   name="first_name" placeholder="ex. João">
                        </div>
                        <div class="form-group">
                            <label for="id_last_name">Sobrenome</label>
                            <input type="text" class="form-control" id="id_last_name"
                                   name="last_name" placeholder="ex. Maria da Silva">
                        </div>
                        <div class="form-group">
                            <label for="id_email">Email</label>
                            <input type="email" class="form-control" id="id_email"
                                   name="email" placeholder="ex. joaomaria@xyz.com">
                        </div>
                        <div class="form-group">
                            <label for="id_crm">CRM</label>
                            <input type="number" class="form-control" id="id_crm"
                                   name="crm" placeholder="ex. 1234">
                        </div>
                        <div class="form-group">
                            <label for="id_username">Usuário</label>
                            <input type="text" class="form-control" id="id_username"
                                   name="username" placeholder="ex. joaomaria">
                        </div>
                        <div class="form-group">
                            <label for="id_password">Senha</label>
                            <input type="password" class="form-control" id="id_password"
                                   name="password" placeholder="************">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="reset" class="btn btn-default pull-right">Limpar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}