{% extends 'adminlte/base.html' %}
{% load staticfiles %}

{% block title %}PassaPlantão{% endblock %}

{% block extra_head %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/login.js' %}" type="text/javascript"></script>
    {% if user.id %}
        <script type="text/javascript">showModalSelecionaHospital()</script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="modal fade in" id="modal_hospitais" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header box-header with-border">
                    <h3><b>Passa</b>Plantão</h3>
                </div>
                <div class="modal-body">
                    <form id="form_seleciona_hospital" name="form_seleciona_hospital"
                          action="" method="post">
                        {% csrf_token %}
                        <p>Selecione o hospital, <b>{{ usuario }}</b>:</p><br>
                        <select class="form-control" name="select_seleciona_hospital" id="select_seleciona_hospital">
                            {% for key, value in hospitais_nomes.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn_seleciona_hospital" class="btn btn-primary
                    btn-block btn-flat" type="button">Selecionar</button>
                    <br>
                    <button id="btn_logout" type="button" class="btn btn-danger btn-block btn-flat">Logout</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

