{% extends 'dashboard/bases/base_signup.html' %}
{% load static %}
{% load widget_tweaks %}

{% block cadastro %}
    <form method="POST" action="{% url 'signupuser' %}">
        <h1>Cadastro</h1>
        {% csrf_token %}
        {{ form.username.errors }}
        {% render_field form.username class="form-control" placeholder="Usuário"%}

        {{ form.first_name.errors }}
        {% render_field form.first_name class='form-control' placeholder="Primeiro nome" %}

        {{ form.last_name.errors }}
        {% render_field form.first_name class='form-control' placeholder="Sobrenome" %}

        {{ form.email.errors }}
        {% render_field form.email class="form-control" placeholder="e-mail" %}

        <input type="email" id="conf_email" class="form-control" name="conf_email" placeholder="Confirme e-mail">

        {{ form.crm.errors }}
        {% render_field form.crm class="form-control" placeholder="CRM" %}

        {{ form.hospital.errors }}
        {% render_field form.hospital class="form-control" %}
        <div>
            <button type="submit" class="btn btn-default submit">Enviar</button>
            <button type="reset" class="btn btn-default">Limpar</button>
    </div>
    <div class="separator">
        <p class="change_link">Já tem conta?
          <a href="{% url 'login' %}" class="to_register"> Log in </a>
        </p>

        <div class="clearfix"></div>
        <br />

        <div>
          <h1><img src="{% static 'assets/docs/images/logo_escuro.png' %}" class="logo_login">Pass!</h1>
          <p>©2020 ECalasans</p>
        </div>
      </div>
    </form>
{% endblock %}