{% extends 'dashboard/bases/base_login.html' %}
{% load static %}

{% block cadastro %}
    <form method="POST" action="{% url 'signupuser' %}">
        <h1>Cadastro</h1>
        {% csrf_token %}
        <div>
            <input type="text" class="form-control" placeholder="Usuário" name="user_cad"/>
        </div>
        <div>
            <input type="text" class="form-control" placeholder="Primeiro nome(ou nome mais conhecido)" name="first_name_cad"/>
        </div>
        <div>
            <input type="text" class="form-control" placeholder="Sobrenome" name="last_name_cad"/>
        </div>
        <div>
            <input type="email" class="form-control" placeholder="Email" name="email_cad" />
        </div>
        <div>
            <input type="password" class="form-control" placeholder="Senha" name="pass_cad" />
        </div>
        <div>
            <input type="password" class="form-control" placeholder="Confirme senha" name="conf_pass" />
        </div>
        <div>
            <input type="text" class="form-control" placeholder="CRM" name="crm_cad"/>
        </div>
        <div>
            <select class="form-control" name="select_hosp_cad">
                {% for h in hospitais %}
                    <option value="{{ h.id }}">{{ h.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-default submit">Enviar</button>
            <button type="reset" class="btn btn-default">Limpar</button>
    </div>
    <div class="separator">
        <p class="change_link">Já tem conta?
          <a href="{% url 'login' %}" class="to_register"> Log in </a>
        </p>

        <div class="clearfix"></div>
        <br />

        <div>
          <h1><img src="{% static 'assets/docs/images/logo_escuro.png' %}" class="logo_login">Pass!</h1>
          <p>©2020 ECalasans</p>
        </div>
      </div>
    </form>
{% endblock %}