{% extends 'adminlte/base.html'%}


{% block logo_text %}<b>Passa</b>Plantão{% endblock %}
{% block title %}PassaPlantão{% endblock %}

{% block content %}
    {# Quadro de vagas  #}
    <div class="row">
        {% for key, value in leitos.items %}
        <div class="col-lg-4">
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-green-gradient">
                <h3 class="widget-user-username"><b>{{ key }}</b></h3>
              <h5 class="widget-user-desc"></h5>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                  {% for leito in value %}
                      {% if leito.status == 'L' %}
                          <li><a>Vagas<span class="pull-right badge bg-blue">{{ leito.setor__count }}</span></a></li>
                      {% elif  leito.status == 'O'%}
                          <li><a>Ocupado<span class="pull-right badge bg-green">{{ leito.setor__count }}</span></a></li>
                      {% elif  leito.status == 'B'%}
                          <li><a>Reservado/Bloqueado<span class="pull-right badge bg-red">{{ leito.setor__count }}</span></a></li>
                      {% endif %}
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}

    </div>

    {#  Timeline #}
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <li class="time-label"><span class="bg-green-gradient">Ontem</span> </li>
                    <div class="col-lg-12">
                        {% for setor in setores %}
                            <div class="box">
                            <div class="box-header">
                              <h3 class="box-title">{{ setor.setor }}</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                              <table class="table table-hover">
                                <tbody><tr>
                                  <th>Leito</th>
                                  <th>Paciente</th>
                                  <th>Ocorrências</th>
                                </tr>
                                <tr>
                                  <td>01</td>
                                  <td>RN de Sabrina Pereira</td>
                                  <td>Sem intercorrências no momento.</td>
                                </tr>
                                <tr>
                                  <td>02</td>
                                  <td>RN de Tânia Maruoka</td>
                                  <td>Dificuldade de acesso venoso.  Ver possibilidade de acesso central.</td>
                                </tr>
                                <tr>
                                  <td>03</td>
                                  <td></td>
                                  <td>VAGO</td>
                                </tr>
                              </tbody></table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        {% endfor %}
                    </div>
            </ul>
            <div class="modal fade" id="modal-default" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                  </div>
                  <div class="modal-body">
                    <p>One fine body…</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
        </div>
    </div>

{% endblock %}