{% extends 'adminlte/login.html' %}

{% block title %}PassaPlantão{% endblock %}

{% block logo_text %}
    <b>Passa</b>Plantão
{% endblock %}

{% block login_form %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {% if message %}
                <p class="login-box-msg" style="color: red;">{{ message }}</p>
             {% endif %}
            <div class="form-group has-feedback">
                <input name="username" class="form-control" placeholder="Username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                {% block login_form_links %}
                    <a href="#">Esqueci a senha...️️</a><br>
                    <a class="create-user" href="{% url 'dashboard:criaUsuario' %}">Fazer cadastro</a>
                {% endblock %}
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                <input type="hidden" name="next" value="/dashboard">
            </div>
        </div>
    </form>

    <div class="modal fade in" id="create_user" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <h3 class="modal-title">Cadastro de Médicos</h3>
                </div>
                <div class="modal-body">
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                        <label for="id_first_name">Primeiro nome</label>
                                        <input type="text" class="form-control" id="id_first_name"
                                               name="first_name" placeholder="ex. João">
                                    </div>
                            <div class="form-group">
                                        <label for="id_last_name">Sobrenome</label>
                                        <input type="text" class="form-control" id="id_last_name"
                                               name="last_name" placeholder="ex. Maria da Silva">
                                    </div>
                            <div class="form-group">
                                        <label for="id_email">Email</label>
                                        <input type="email" class="form-control" id="id_email"
                                               name="email" placeholder="ex. joaomaria@xyz.com">
                                    </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="id_crm">CRM</label>
                                        <input type="number" class="form-control" id="id_crm"
                                            name="crm" placeholder="ex. 1234">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label for="{{ form.hospital.id_for_label }}" >Hospital</label>
                                        <select id="{{ form.hospital.id_for_label}}" name="{{ form.hospital.html_name }}"
                                                class="form-control">
                                            <option value="None">Nenhum</option>
                                            {% for hospital in hosp %}
                                                <option value="{{ hospital.id }}">{{ hospital.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                        <label for="id_username">Usuário</label>
                                        <input type="text" class="form-control" id="id_username"
                                               name="username" placeholder="ex. joaomaria">
                                    </div>
                            <div class="form-group">
                                        <label for="id_password">Senha</label>
                                        <input type="password" class="form-control" id="id_password"
                                               name="password" placeholder="************">
                                    </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="submit-btn btn btn-primary">Enviar</button>
                            <button type="reset" class="btn btn-default pull-right">Limpar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="close">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
